/TestPromiseKit/TestPromiseKit.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/TestPromiseKit/TestPromiseKit.xcodeproj/project.xcworkspace/xcuserdata/oleygen.xcuserdatad/UserInterfaceState.xcuserstate
/TestPromiseKit/TestPromiseKit.xcodeproj/xcuserdata/oleygen.xcuserdatad/xcschemes/xcschememanagement.plist
